################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
src/bin/debug
src/obj/Debug
src/packages
PortableKeePass
